<div class="carousel">
    <div class="title">
      <button type="button" class="btn button" id="back-gallery-button">
        <p class="button-text"><strong>PREVIOUS</strong></p>
      </button>
      <h3><strong>{{ title }}</strong></h3>
      <button type="button" class="btn button" id="next-gallery-button">
        <p class="button-text"><strong>NEXT</strong></p>
      </button>
    </div>
    <div class="carousel-container">
      <button type="button" class="btn button" id="back-picture-button">
        <p class="button-text"><strong>PREVIOUS</strong></p>
      </button>
      <div class="carousel-image-container"></div>
      <button type="button" class="btn button" id="next-picture-button">
        <p class="button-text"><strong>NEXT</strong></p>
      </button>
    </div>
</div>
